.event {
    display: table-cell;
    border: 3px dashed #998787;
    margin: 5px;
    padding: 10px;
}

.event span {
    display: block;
}


.event .name {
    font-weight: bold;
}

.event .tags {
    font-style: italic;
}

.event .tags .tag {
    display: table-cell;
    padding: 5px;
}

.controls {
    margin: 5px;
}


.clone-event {
    border: 3px dashed #998787;
    margin: 5px;
}
